@import "tailwindcss";

/* Definisi Tema Nadya Bakery (Vite/Tailwind 4) */
@theme {
    --color-primary: #F58E8B;       /* Coral Pink */
    --color-primary-soft: #FCD5CE;  /* Pink Muda */
    --color-secondary: #2EC4B6;     /* Teal */
    --color-dark: #2D2D2D;          /* Teks Gelap */
    --color-bg: #FFF1F2;            /* Background */
}

/* Global Styles */
body { 
    font-family: 'Poppins', sans-serif; 
}

/* Scrollbar Cantik Global */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #FCD5CE; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #F58E8B; }

#kategori-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#kategori-container::-webkit-scrollbar { display: none; }